<div class="mt-3">
  <div class="col-md-10 ">
    <h2>Грузия открыта или нет? Правила въезда в Грузию в 2021 году</h2>
    <hr>
    <p>
      Мы верим, что после пандемии путешествия вернутся в нашу жизнь в полном объеме. А пока — вместе следим за новыми
      правилами въезда и карантинными ограничениями в любимых странах. Эта статья — о прекрасной Грузии.
    </p>
    <p>
      Грузия с 1 февраля 2021 года сняла все ограничения на регулярное международное авиасообщение,
      введенные из-за пандемии.
    </p>
    <p>
      Сейчас въехать в Грузию могут иностранные граждане, которые либо прошли курс вакцинации, либо сдали отрицательный
      ПЦР-тест. Правила отличаются для авиапассажиров и тех, кто приезжает через наземные границы.
    </p>
  </div>
</div>
